{% extends 'base.html.twig' %}

{% block body %}
    {{ include('_partials/_newDinoForm.html.twig') }}
    <h3>Enclosures</h3>
    <table class="table-enclosures">
        <tbody>
        {% for enclosure in enclosures %}
            <tr id="enclosure-{{ enclosure.id }}">
                <td>Enclosure #{{ enclosure.id }}</td>
                <td>
                    Contains <strong>{{ enclosure.dinosaurCount }}</strong> dinosaurs
                </td>
                <td>
                    {% if enclosure.isSecurityActive %}
                        Security active!
                    {% else %}
                        <button class="button button-alarm">Sound alarm!!!</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>JSONP Test</h3>
    <ul id="gists"></ul>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script>
        $(document).ready(function(){

            // $.getJSON('http://iot.dominykasmurauskas.lt/api/motion-detection-state?callback=?', function(response){
            //     console.log('script injected');
            // });

            $.ajax({
                url : 'http://iot.dominykasmurauskas.lt/api/motion-detection-state',
                type : 'GET',
                dataType:'json',
                success : function(data) {
                    console.log("Ajax request successful!");
                },
                error : function(request,error)
                {
                    console.log("Ajax request threw an error!")
                }
            });
        });
    </script>
{% endblock %}
